h1 {
    text-align: center;
    color: #223c6b;
}

.row-1 {
    display: flex;
    direction: row;
    justify-self: start;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.row-3 {
    margin-bottom: 5px;
    padding: 1%;
    width: 100%;
    background-color: #f2f1ec;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around ;
}

.row-3 .slider {
    width: 80%;
    background-color: #f2f1ec;
}

input[type="range"]::-moz-range-progress {
    background-color: #223c6b; 
}
input[type="range"]::-moz-range-track {  
    background-color: #223c6b;
}

input[type="range"]::-ms-fill-lower {
    background-color: #223c6b; 
}
input[type="range"]::-ms-fill-upper {  
    background-color: #223c6b;
}

.play-button {
    background-color: #223c6b; 
    border: none;
    color: #f2f1ec;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-clicked {
    background-color: #223c6b; 
    border-color: #f2f1ec; 
    color: #f2f1ec;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 80%;
}

.button-not-clicked {
    background-color: #f2f1ec; 
    border-color: #223c6b; 
    color: #223c6b;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 80%;
}

.chart-title, .xaxis, .yaxis {
    font-weight: bold;
    color: #223c6b;
}
